<%= navigation_editor_item item: do |builder| %>
  <div class="tree" data-invisible="<%= !item.visible? %>">
    <%= builder.accordion_actions %>

    <span role="img" value="<%= item.model_name.param_key %>" title="Type"></span>
    <h4 class="title" title="<%= item.title %>"><%= item.title %></h4>
    <span role="img" value="invisible" title="Hidden"></span>
  </div>

  <div class="url">
    <%= link_to item.url || "", item.url || "", data: { turbo: false } %>
  </div>

  <%= builder.item_actions %>
<% end %>
