<li draggable="true"
    data-navigation-item
    data-navigation-item-id="<%= item.id %>"
    data-navigation-index="<%= item.index %>"
    data-navigation-depth="<%= item.depth %>"
    <%= "data-content-layout" if item.layout? %>
    data-deny-de-nest
    data-deny-nest
    data-deny-collapse
    data-deny-expand
    data-deny-remove
    data-deny-drag
    data-deny-edit>
  <%= yield %>
</li>
