<% content_for :title, "Edit navigation" %>

<%= form_with model: menu do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :slug %>
    <%= form.text_field :slug %>
  </div>

  <%= form.submit :save %>
<% end %>

<%= button_to "Delete", katalyst_navigation.menu_path(menu), method: :delete, data: { confirm: "Are you sure? This cannot be undone." } %>

