<% content_for :title, "Navigations" %>

<nav class="index-table-actions">
  <div class="item-actions">
    <%= link_to "Add", %i[new menu], class: "button button--primary" %>
  </div>
</nav>

<%= table_with(collection:) do |row, menu| %>
  <%= row.text :title do |cell| %>
    <%= link_to cell, menu %>
  <% end %>
  <%= row.text :slug %>
<% end %>
