<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main>
  <%= yield %>

  <%= render ScrimComponent.new %>
  <%= render Kpop::FrameComponent.new do %>
    <%= yield :kpop %>
  <% end %>
</main>
</body>
</html>
