<%= tag.div(**html_attributes) do %>
  <div class="tree" data-invisible="<%= !item.visible? %>">
    <div role="toolbar" data-tree-accordion-controls>
      <span role="button" value="collapse" data-action="click-><%= MENU_CONTROLLER %>#collapse" title="Collapse tree"></span>
      <span role="button" value="expand" data-action="click-><%= MENU_CONTROLLER %>#expand" title="Expand tree"></span>
    </div>

    <span role="img" value="<%= item.model_name.param_key %>" title="Type"></span>
    <h4 class="heading" title="<%= item.title %>"><%= item.title %></h4>
    <span role="img" value="invisible" title="Hidden"></span>
  </div>

  <div class="url">
    <%= link_to item.url || "", item.url || "", data: { turbo: false } %>
  </div>

  <div role="toolbar" data-tree-controls>
    <span role="button" value="de-nest" data-action="click-><%= MENU_CONTROLLER %>#deNest" title="Outdent"></span>
    <span role="button" value="nest" data-action="click-><%= MENU_CONTROLLER %>#nest" title="Indent"></span>
    <%= kpop_link_to("", edit_item_link, role: "button", title: "Edit", value: "edit") %>
    <span role="button" value="remove" data-action="click-><%= MENU_CONTROLLER %>#remove" title="Remove"></span>
  </div>

  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[id]" value="<%= item.id %>">
  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[depth]" value="<%= item.depth %>">
  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[index]" value="<%= item.index %>">
<% end %>
