<%= tag.div(**html_attributes) do %>
  <div class="tree">
    <icon class="icon" data-icon="<%= item.model_name.param_key %>" aria-hidden="true">&nbsp;</icon>

    <%= link_to_if(item.url.presence, item.title, item.url, target: "_blank", rel: "noopener") %>

    <% unless item.visible? %>
      <icon class="icon" data-icon="hidden" title="Hidden" role="img">&nbsp;</icon>
    <% end %>
  </div>

  <div role="toolbar" class="actions-group">
    <button class="button" data-button-padding="tight" data-text-button data-action="navigation--editor--menu#collapse" title="Collapse tree">
      <icon class="icon" data-icon="collapse" role="img">&nbsp;</icon>
    </button>
    <button class="button" data-button-padding="tight" data-text-button data-action="navigation--editor--menu#expand" title="Expand tree">
      <icon class="icon" data-icon="expand" role="img">&nbsp;</icon>
    </button>
    <button class="button" data-button-padding="tight" data-text-button data-action="navigation--editor--menu#deNest" title="Outdent">
      <icon class="icon" data-icon="outdent" role="img">&nbsp;</icon>
    </button>
    <button class="button" data-button-padding="tight" data-text-button data-action="navigation--editor--menu#nest" title="Indent">
      <icon class="icon" data-icon="indent" role="img">&nbsp;</icon>
    </button>
    <%= link_to(edit_item_link, class: "button", title: "Edit", value: "edit",
                data: { text_button: "", button_padding: "tight", turbo_frame: "navigation--editor--item-editor" }) do %>
      <icon class="icon" data-icon="edit" role="img">&nbsp;</icon>
    <% end %>
    <button class="button" data-button-padding="tight" data-text-button data-action="navigation--editor--menu#remove" title="Remove">
      <icon class="icon" data-icon="remove" role="img">&nbsp;</icon>
    </button>
  </div>

  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[id]" value="<%= item.id %>">
  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[depth]" value="<%= item.depth %>">
  <input autocomplete="off" type="hidden" name="<%= attributes_scope %>[index]" value="<%= item.index %>">
<% end %>
