<%# locals: (form:) %>

<%= render "form_errors", form: %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label :url %>
  <%= form.text_field :url %>
</div>

<div class="field">
  <%= form.label :http_method %>
  <%= form.select :http_method, Katalyst::Navigation::Button::HTTP_METHODS %>
</div>

<div class="field">
  <%= form.label :target %>
  <%= form.select :target, Katalyst::Navigation::Button::TARGETS %>
</div>

<div class="field">
  <%= form.label(:visible) do %>
    <%= form.check_box :visible %>
    Visible
  <% end %>
</div>
