<%= form_with model: item, scope: :item, url: path do |form| %>
  <%= form.hidden_field :type %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>

  <div class="field">
    <%= form.label :wide_image %>
    <%= form.file_field :wide_image %>
  </div>

  <div class="field">
    <%= form.label :square_image %>
    <%= form.file_field :square_image %>
  </div>

  <div class="field">
    <%= form.label :alt_text %>
    <%= form.text_field :alt_text %>
  </div>

  <div class="field">
    <%= form.label :visible %>
    <%= form.check_box :visible %>
  </div>

  <%= form.submit "Done" %>
  <%= link_to "Discard", item.menu %>
<% end %>
