<%# locals: (form:) %>

<%= render "form_errors", form: %>

<div class="field">
  <%= form.label :title %>
  <%= form.text_field :title %>
</div>

<div class="field">
  <%= form.label(:visible) do %>
    <%= form.check_box :visible %>
    Visible
  <% end %>
</div>
