<%= turbo_frame_tag(
      "navigation--editor--item-editor",
      data: { controller: "navigation--editor--item-editor" },
    ) do %>
  <dialog class="modal"
          closedby="any"
          data-navigation--editor--item-editor-target="dialog"
          data-action="
            mousedown->navigation--editor--item-editor#outside
            close->navigation--editor--item-editor#dismiss
          "
          data-item-id="<%= dom_id(item_editor.item) %>"
          <%= "data-item-persisted" if item_editor.item.persisted? %>>
    <article class="flow">
      <header class="repel" data-nowrap>
        <h2><%= item_editor.title %></h2>
        <button class="button"
                data-button-padding="tight"
                data-text-button
                data-action="navigation--editor--item-editor#dismiss">
          <icon aria-hidden="true" class="icon" data-icon="close">&nbsp;</icon>
          <span class="visually-hidden">Close</span>
        </button>
      </header>
      <main>
        <%= render item_editor %>
      </main>
      <footer class="actions" data-reverse>
        <button form="<%= item_editor.id %>" class="button" data-close-dialog>
          Done
        </button>
        <button form="<%= item_editor.id %>"
                formmethod="dialog"
                class="button"
                data-ghost-button>
          Discard
        </button>
      </footer>
    </article>
  </dialog>
<% end %>
